# Marketing Mix Modelling (MMM) For E-Commerce

### Problem Satement

A E-commerce company specialising in electronics products had spent a significant amount of money on marketing over the last one year.......

.....



.........
........



Theory work here, need to add 
* 1. Business Objective 
* 2. Problem Solving Methodology 
* and so on

### Libraries

In [2]:
# import libraries and packages
import pandas as pd
import numpy as np

# visualization libraries
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

import time

# suppresing warnings
import warnings
warnings.filterwarnings('ignore')

In [3]:
pd.set_option('display.float_format','{:.3f}'.format)

# 1. Reading data

### Consumer Dataset

In [4]:
consumer_dataset = pd.read_csv(r'../dataset/raw/ConsumerElectronics.csv.gz', compression = 'gzip')
consumer_dataset.sample(5)

,fsn_id,order_date,Year,Month,order_id,order_item_id,gmv,units,deliverybdays,deliverycdays,s1_fact.order_payment_type,sla,cust_id,pincode,product_analytic_super_category,product_analytic_category,product_analytic_sub_category,product_analytic_vertical,product_mrp,product_procurement_sla
493983,VPLD3F76WDZMAQPM,2015-12-09 18:16:13,2015,12,3465203891113700.000,3465203891113700.000,2335.000,1,\N,\N,COD,6,-8674397267305979904.000,778715676747820032.000,CE,EntertainmentSmall,TVVideoSmall,VideoPlayer,3502,1
1054455,GMCEDUTBNGNB2UFP,2016-04-11 13:50:32,2016,4,2572178486663000.000,2572178486663000.000,518.000,1,4,4,Prepaid,3,5052863008665650176.000,-7267050008837749760.000,CE,GamingHardware,GamingConsole,HandheldGamingConsole,1500,3
35045,ACCDXEGXG8HJUCSK,2015-10-15 12:02:12,2015,10,4417425435757300.000,4417425435757300.000,699,1,\N,\N,COD,8,3.63832853502265E+018,1.81347447456993E+018,CE,EntertainmentSmall,Speaker,LaptopSpeaker,1000,2
1070021,VOREFVGQHPBZ4B4X,2016-04-17 22:50:33,2016,4,3577688539978200.000,3577688539978200.000,3599.000,1,\N,\N,COD,8,-8619449598250210304.000,-2802558082311439872.000,CE,EntertainmentSmall,HomeAudio,VoiceRecorder,5999,4
999106,ACCEEBM4GVFRJGHG,2016-04-27 01:15:14,2016,4,2584262746251100.000,2584262746251100.000,460.000,1,3,3,Prepaid,3,-404287126324684992.000,2895126898971610112.000,CE,CameraAccessory,CameraStorage,CameraStorageMemoryCard,475,2

In [5]:
# shape of the dataset
print(consumer_dataset.shape)

# print the info about the dataset memory usage
consumer_dataset.info(memory_usage = 'deep')

(1648824, 20)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1648824 entries, 0 to 1648823
Data columns (total 20 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   fsn_id                           1648824 non-null  object
 1   order_date                       1648824 non-null  object
 2   Year                             1648824 non-null  int64
 3   Month                            1648824 non-null  int64
 4   order_id                         1648824 non-null  float64
 5   order_item_id                    1648824 non-null  float64
 6   gmv                              1648824 non-null  object
 7   units                            1648824 non-null  int64
 8   deliverybdays                    1648824 non-null  object
 9   deliverycdays                    1648824 non-null  object
 10  s1_fact.order_payment_type       1648824 non-null  object
 11  sla                              1648824 non-null  int64
 12  cust_id                          1648824 non-null  object
 13  pincode                          1648824 non-null  object
 14  product_analytic_super_category  1648824 non-null  object
 15  product_analytic_category        1648824 non-null  object
 16  product_analytic_sub_category    1648824 non-null  object
 17  product_analytic_vertical        1648824 non-null  object
 18  product_mrp                      1648824 non-null  int64
 19  product_procurement_sla          1648824 non-null  int64
dtypes: float64(2), int64(6), object(12)
memory usage: 1.2 GB

In [6]:
# statistics about the dataset
consumer_dataset.describe()

,Year,Month,order_id,order_item_id,units,sla,product_mrp,product_procurement_sla
count,1648824.000,1648824.000,1648824.000,1648824.000,1648824.000,1648824.000,1648824.000,1648824.000
mean,2015.519,6.586,2842444674146622.000,13756277530325592.000,1.022,5.688,4108.309,5.403
std,0.500,3.623,1269134332596894.250,55945981798631008.000,0.254,2.983,8510.918,53.466
min,2015.000,1.000,76331515.000,108016495.000,1.000,0.000,0.000,-1.000
25%,2015.000,3.000,1602588503969575.000,1606725138262300.000,1.000,4.000,799.000,1.000
50%,2016.000,6.000,2611824528743350.000,2619185472741150.000,1.000,6.000,1599.000,2.000
75%,2016.000,10.000,3610613539366250.000,4397705931628400.000,1.000,7.000,3499.000,3.000
max,2016.000,12.000,5395076790260600.000,300037347717704000.000,50.000,1006.000,299999.000,1000.000

### Product List Dataset

In [7]:
product_dataset = pd.read_excel('../dataset/raw/Media data and other information.xlsx', sheet_name = 'Product List')
product_dataset.head(5)

   Unnamed: 0         Unnamed: 1 Unnamed: 2 Unnamed: 3
0         NaN                NaN  Frequency    Percent
1         NaN                 \N       5828      0.353
2         NaN  AmplifierReceiver       4056      0.246
3         NaN     AudioMP3Player     112892      6.847
4         NaN         Binoculars      14599      0.885

In [8]:
# drop the column Unnamed: 0 and the first row
product_dataset.drop(product_dataset.columns[0], axis = 1, inplace = True)
product_dataset.drop([0], axis = 0, inplace = True)

# new column headings 
column_header = ['Product_Vertical', 'Frequency', 'Percent']
product_dataset.columns = column_header
product_dataset.head()

    Product_Vertical Frequency Percent
1                 \N      5828   0.353
2  AmplifierReceiver      4056   0.246
3     AudioMP3Player    112892   6.847
4         Binoculars     14599   0.885
5            BoomBox      2879   0.175

### Media Investment Data

In [9]:
media_investment = pd.read_excel('../dataset/raw/Media data and other information.xlsx', sheet_name = 'Media Investment')
media_investment.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,NaN,NaN,NaN,NaN,"Investment in various media heads, INR Cr.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Year,Month,Total Investment,TV,Digital,Sponsorship,Content Marketing,Online marketing,Affiliates,SEM,Radio,Other
2,NaN,2015,7,17.062,0.215,2.533,7.414,0.001,1.327,0.547,5.024,NaN,NaN
3,NaN,2015,8,5.064,0.006,1.278,1.063,0.000,0.129,0.074,2.514,NaN,NaN
4,NaN,2015,9,96.254,3.880,1.357,62.788,0.610,16.380,5.038,6.202,NaN,NaN

In [10]:
# droping first column and first 2 rows
media_investment.drop(media_investment.columns[0], axis = 1, inplace = True)

# media_investment.head()
new_header = media_investment.iloc[1,:]
media_investment.columns =  new_header

# drop the first two rows from the dataset
media_investment.drop([0,1,14,15,16,17], axis = 0, inplace = True)

media_investment.sample(5)

1,Year,Month,Total Investment,TV,Digital,Sponsorship,Content Marketing,Online marketing,Affiliates,SEM,Radio,Other
9,2016,2,48.052,2.586,1.913,11.726,0.597,19.892,6.465,4.874,NaN,NaN
4,2015,9,96.254,3.880,1.357,62.788,0.610,16.380,5.038,6.202,NaN,NaN
8,2016,1,74.196,4.380,0.456,4.200,0.900,22.900,7.370,4.200,2.700,27.090
10,2016,3,100.025,9.300,2.100,41.590,0.370,18.438,6.218,5.194,0.870,15.946
3,2015,8,5.064,0.006,1.278,1.063,0.000,0.129,0.074,2.514,NaN,NaN

### Sales Calendar Data

In [11]:
sales_calendar = pd.read_excel('../dataset/raw/Media data and other information.xlsx', sheet_name = 'Special Sale Calendar')
sales_calendar.drop(sales_calendar.columns[0], axis = 1, inplace = True)

sales_calendar

    Unnamed: 1               Sales Calendar
0     2015.000               (18-19th July)
1          NaN                (15-17th Aug)
2          NaN                (28-30th Aug)
3          NaN                (15-17th Oct)
4          NaN                 (7-14th Nov)
5          NaN   (25th Dec'15 - 3rd Jan'16)
6     2016.000                  (20-22 Jan)
7          NaN                    (1-2 Feb)
8          NaN                  (20-21 Feb)
9          NaN                  (14-15 Feb)
10         NaN                    (7-9 Mar)
11         NaN                  (25-27 May)

In [12]:
sales_calendar.iloc[1:6,0] = sales_calendar.iloc[0,0]
sales_calendar.iloc[7:,0] = sales_calendar.iloc[6,0]
sales_calendar.rename(columns = {'Unnamed: 1' : 'Year'}, inplace = True)

sales_calendar.sample(5)

      Year   Sales Calendar
0 2015.000   (18-19th July)
9 2016.000      (14-15 Feb)
6 2016.000      (20-22 Jan)
7 2016.000        (1-2 Feb)
2 2015.000    (28-30th Aug)

In [13]:
sales_calendar.shape

(12, 2)

### Net Promoter Score data

In [14]:
net_promoter_score = pd.read_excel('../dataset/raw/Media data and other information.xlsx', sheet_name = 'Monthly NPS Score')
net_promoter_score.head()

,Unnamed: 0,July'15,Aug'15,Sept'15,Oct'15,Nov'15,Dec'15,Jan'16,Feb'16,Mar'16,Apr'16,May'16,June'16
0,NPS,54.600,59.987,46.925,44.398,47.000,45.800,47.093,50.327,49.021,51.828,47.307,50.517
1,Stock Index,1177.000,1206.000,1101.000,1210.000,1233.000,1038.000,1052.000,1222.000,1015.000,1242.000,1228.000,1194.000

### Product Details word file

In [15]:
product_details = pd.read_excel('../dataset/raw/Product Details.xlsx')
product_details.sample(5)

   super_category            category     sub_category               vertical
23             CE     CameraAccessory  CameraAccessory                   Lens
21             CE     CameraAccessory  CameraAccessory                  Flash
36             CE  EntertainmentSmall        HomeAudio                   Dock
50             CE  EntertainmentSmall     TVVideoSmall            SelectorBox
73             CE      GamingHardware    GamingConsole  HandheldGamingConsole

In [16]:
# drop first column- super_category
product_details.drop(['super_category'], axis = 1, inplace = True)
product_details.sample(5)

           category     sub_category                 vertical
11  CameraAccessory  CameraAccessory             CameraEyeCup
14  CameraAccessory  CameraAccessory           CameraLEDLight
64   GamingHardware  GamingAccessory           GamingKeyboard
29  CameraAccessory    CameraStorage  CameraStorageMemoryCard
1            Camera           Camera                     DSLR

# 2. Data Cleaning and Data Preparation

Operations performed on the data, write brief note on the operations performed

### Consumer Dataset

In [17]:
consumer_dataset.sample(5)

,fsn_id,order_date,Year,Month,order_id,order_item_id,gmv,units,deliverybdays,deliverycdays,s1_fact.order_payment_type,sla,cust_id,pincode,product_analytic_super_category,product_analytic_category,product_analytic_sub_category,product_analytic_vertical,product_mrp,product_procurement_sla
732435,ACCEFNB47MZZYGYD,2016-02-10 11:43:58,2016,2,4519400907616700.000,4519400907616700.000,399.000,1,\N,\N,COD,6,-3416691294802950144.000,-6727769381596609536.000,CE,CameraAccessory,CameraAccessory,Flash,499,2
336245,VOREAZ3EZSVXZWSQ,2015-11-08 23:36:46,2015,11,3438612932850300.000,3438612932850300.000,1299,1,\N,\N,COD,5,2.08870859363194E+018,-7.008123264312E+018,CE,EntertainmentSmall,HomeAudio,VoiceRecorder,2499,2
1390834,ACCE58P94S5YVBYG,2015-07-26 01:06:07,2015,7,176250793.000,222358398.000,1499,1,\N,\N,Prepaid,5,-5.95397067893924E+018,4.43013722253441E+018,CE,EntertainmentSmall,Speaker,MobileSpeaker,3490,1
1313158,AUDEJQQYH8HXTJPN,2016-06-20 09:47:45,2016,6,4632502127841400.000,4632502127841400.000,329.000,1,\N,\N,COD,4,8644692814397419520.000,-9031043207091489792.000,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,799,2
1047753,GAME7JVFBF3YUWXG,2016-04-07 18:25:34,2016,4,2568872774605800.000,2568872774605800.000,1499.000,1,2,2,Prepaid,2,-9049744515353929728.000,-8465632898317899776.000,CE,GameCDDVD,Game,PhysicalGame,1499,6

In [18]:
# get the no.of observation and no. of features present in Cosumer_dataset

print(f"Shape of the consumer_dataset is {consumer_dataset.shape}")

Shape of the consumer_dataset is (1648824, 20)

In [19]:
# get in detail list of features, non-null values and it's datatype in consumer_dataset
consumer_dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1648824 entries, 0 to 1648823
Data columns (total 20 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   fsn_id                           1648824 non-null  object
 1   order_date                       1648824 non-null  object
 2   Year                             1648824 non-null  int64
 3   Month                            1648824 non-null  int64
 4   order_id                         1648824 non-null  float64
 5   order_item_id                    1648824 non-null  float64
 6   gmv                              1648824 non-null  object
 7   units                            1648824 non-null  int64
 8   deliverybdays                    1648824 non-null  object
 9   deliverycdays                    1648824 non-null  object
 10  s1_fact.order_payment_type       1648824 non-null  object
 11  sla                              1648824 non-null  int64
 12  cust_id                          1648824 non-null  object
 13  pincode                          1648824 non-null  object
 14  product_analytic_super_category  1648824 non-null  object
 15  product_analytic_category        1648824 non-null  object
 16  product_analytic_sub_category    1648824 non-null  object
 17  product_analytic_vertical        1648824 non-null  object
 18  product_mrp                      1648824 non-null  int64
 19  product_procurement_sla          1648824 non-null  int64
dtypes: float64(2), int64(6), object(12)
memory usage: 251.6+ MB

Order level data

• FSN ID: The unique identification of each SKU

• Order Date: Date on which the order was placed

• Order ID: The unique identification number of each order

• Order item ID: Suppose you order 2 different products under the same order, it generates 2 different order Item IDs under the same order ID; orders are tracked by the Order Item ID.

• GMV: Gross Merchandise Value or Revenue

• Units: Number of units of the specific product sold

• Order payment type: How the order was paid – prepaid or cash on delivery

• SLA: Number of days it typically takes to deliver the product

• Cust id: Unique identification of a customer

• Product MRP: Maximum retail price of the product

 • Product procurement SLA: Time typically taken to procure the product

### Checking for Duplicate values

In [104]:
# check for duplicate values 
duplicate_count = consumer_dataset.duplicated().sum()
len_dataset = len(consumer_dataset)

In [108]:
print(f"Total length of the consumer_dataset is {len_dataset}")
print(f"Count of duplicated values is {duplicate_count} or {round(duplicate_count/len_dataset,2)}% of values in consumer_dataset.")

Total length of the consumer_dataset is 1648824
Count of duplicated values is 104843 or 0.06% of values in consumer_dataset.

Before making the decision to drop them or keep them we should evaluate the duplicate values.

In [115]:
# viewing the duplicate values 
consumer_dataset[consumer_dataset.duplicated()].groupby['order_id']['order_item_id']

TypeError: 'method' object is not subscriptable

These are the order_id

In [20]:
# function to know about number of unqiue values and null values 
def feature_summary(dataset):
    column_summary_df = pd.DataFrame(columns =['Name','Values',
                                            'Null_Values','%_Null_Value',
                                            'Nunique_Value','Data_Type'])
    l = len(dataset)
    for i in dataset.columns:
                                            
        column_summary_df.loc[len(column_summary_df),:] = [i,dataset[i].notnull().sum(),
                                                     dataset[i].isnull().sum(),
                                                     round(dataset[i].isnull().sum()/l,2),
                                                     dataset[i].nunique(),
                                                     dataset[i].dtype
                                                    ]
    return column_summary_df

In [21]:
# print the feature name and summary of values present in the dataset
feature_summary(consumer_dataset)

,Name,Values,Null_Values,%_Null_Value,Nunique_Value,Data_Type
0,fsn_id,1648824,0,0.000,21219,object
1,order_date,1648824,0,0.000,1155192,object
2,Year,1648824,0,0.000,2,int64
3,Month,1648824,0,0.000,12,int64
4,order_id,1648824,0,0.000,1501177,float64
5,order_item_id,1648824,0,0.000,1480765,float64
6,gmv,1648824,0,0.000,18086,object
7,units,1648824,0,0.000,27,int64
8,deliverybdays,1648824,0,0.000,143,object
9,deliverycdays,1648824,0,0.000,171,object
10,s1_fact.order_payment_type,1648824,0,0.000,2,object
11,sla,1648824,0,0.000,60,int64
12,cust_id,1648824,0,0.000,1253495,object
13,pincode,1648824,0,0.000,12973,object
14,product_analytic_super_category,1648824,0,0.000,1,object
15,product_analytic_category,1648824,0,0.000,5,object
16,product_analytic_sub_category,1648824,0,0.000,14,object
17,product_analytic_vertical,1648824,0,0.000,74,object
18,product_mrp,1648824,0,0.000,1929,int64
19,product_procurement_sla,1648824,0,0.000,17,int64

We can see that their are many features with high number of unique values, wrong datatype( i.e. in order_date, gmv, deliverybdays, deliverycdays and so on) and no null-value which has to be corrected before moving to feature engineering and other task related to the Consumer Dataset and model building for the business problem statement at hand. We will proceed one by one with each feature and correct the issues identified.

#### Feature - fsn_id

In [23]:
consumer_dataset[consumer_dataset.duplicated()].sample(10)

,fsn_id,order_date,Year,Month,order_id,order_item_id,gmv,units,deliverybdays,deliverycdays,s1_fact.order_payment_type,sla,cust_id,pincode,product_analytic_super_category,product_analytic_category,product_analytic_sub_category,product_analytic_vertical,product_mrp,product_procurement_sla
1620813,AUDEAFDAYMYZGMRA,2015-09-08 12:25:29,2015,9,3381987674140920.000,300037347713305984.000,475,1,\N,\N,COD,5,-6.72024669518367E+018,-6.57163828779004E+018,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1
1626234,CAMDTHSA6MFGKART,2015-09-17 08:55:56,2015,9,1393151633391600.000,1393151633391600.000,7228,1,\N,\N,Prepaid,4,5.81480964518522E+018,5.98299553675522E+017,CE,Camera,Camera,Point & Shoot,8990,3
1604029,ACCE9WVTGMR5NANP,2015-09-13 01:07:34,2015,9,1389418848750400.000,1389418848750400.000,270,1,\N,\N,COD,6,-3.93482949296575E+018,7.1611979686793E+018,CE,EntertainmentSmall,Speaker,LaptopSpeaker,310,3
1612952,ACCEYX9WWGEZYDUU,2015-09-06 21:52:49,2015,9,3381987673534240.000,300037347712632000.000,599,1,\N,\N,COD,2,-2.35171997213599E+018,3.29778516578821E+018,CE,CameraAccessory,CameraAccessory,CameraBattery,849,3
1642428,SELDXMC3JNMTQMGV,2015-09-25 11:18:48,2015,9,3400148231895700.000,3400148231895700.000,2699,1,\N,\N,Prepaid,2,-6.95815950283206E+017,7.32493953773087E+018,CE,EntertainmentSmall,TVVideoSmall,SelectorBox,4999,3
1647376,VPLD3AFBNEJZR6UW,2015-09-21 22:58:48,2015,9,2397114194867200.000,2397114194867200.000,3100,1,\N,\N,COD,2,5.02520523887383E+018,6.81001084351669E+018,CE,EntertainmentSmall,TVVideoSmall,VideoPlayer,3990,3
1545799,ACCCZZC9MF2XR4JE,2015-09-11 18:56:25,2015,9,3388331845253200.000,300037347714872000.000,687,1,\N,\N,COD,4,2.78979681621489E+018,2.54616275683928E+018,CE,EntertainmentSmall,Speaker,LaptopSpeaker,1000,2
1551277,ACCDF2Z7KXGSZEP7,2015-09-20 13:26:27,2015,9,2395907516447400.000,2395907516447400.000,293,1,\N,\N,COD,11,-6.32413907534324E+018,-7.89894541987469E+018,CE,GamingHardware,GamingAccessory,GamePad,350,3
1554317,ACCDH7MFZJGRWJCW,2015-09-19 18:13:31,2015,9,4395218703937100.000,4395218703937100.000,268,1,\N,\N,COD,7,3.65984000997297E+018,6.05459811649231E+018,CE,GamingHardware,GamingAccessory,GamePad,410,1
1553623,ACCDGRWHSZ6BSBP7,2015-09-08 15:03:09,2015,9,3381987674224150.000,300037347713398016.000,389,1,\N,\N,COD,6,-4.3072285902113E+018,1.72772229667212E+018,CE,EntertainmentSmall,Speaker,LaptopSpeaker,799,5

In [50]:
consumer_dataset[(consumer_dataset['fsn_id']=='AUDEAFDAYMYZGMRA') & (consumer_dataset[consumer_dataset['fsn_id'] == 'AUDEAFDAYMYZGMRA'].duplicated(subset = ['order_date','order_id']))]

,fsn_id,order_date,Year,Month,order_id,order_item_id,gmv,units,deliverybdays,deliverycdays,s1_fact.order_payment_type,sla,cust_id,pincode,product_analytic_super_category,product_analytic_category,product_analytic_sub_category,product_analytic_vertical,product_mrp,product_procurement_sla
1620805,AUDEAFDAYMYZGMRA,2015-09-02 12:05:56,2015,9,2378842904888660.000,2378842904957790.000,375,1,\N,\N,COD,4,-5.62575188168943E+018,-9.03104320709149E+018,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1
1620806,AUDEAFDAYMYZGMRA,2015-09-04 11:44:00,2015,9,3381987672436220.000,300037347711409024.000,475,1,\N,\N,COD,9,-2.11171434448403E+018,4.2241920308113E+018,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1
1620807,AUDEAFDAYMYZGMRA,2015-09-04 13:08:39,2015,9,3381987672476270.000,300037347711454016.000,475,1,\N,\N,COD,7,-1.26127826733877E+018,6.63477281579406E+018,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1
1620808,AUDEAFDAYMYZGMRA,2015-09-08 20:23:40,2015,9,3381987674359030.000,300037347713548992.000,475,1,\N,\N,COD,6,5.20523408527242E+018,-5.03125702618526E+018,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1
1620809,AUDEAFDAYMYZGMRA,2015-09-09 17:13:35,2015,9,3381987674694380.000,300037347713929984.000,475,1,\N,\N,COD,6,5.20523408527242E+018,-5.03125702618526E+018,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1
1620810,AUDEAFDAYMYZGMRA,2015-09-16 07:48:19,2015,9,3392251961197200.000,3392251961197200.000,475,1,\N,\N,COD,6,4.85785764227292E+018,6.22378012655738E+017,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1
1620811,AUDEAFDAYMYZGMRA,2015-09-27 12:09:17,2015,9,2401909689188000.000,2401909689188000.000,299,1,\N,\N,COD,7,-8.78584106431335E+018,-7.28276691406686E+018,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1
1620812,AUDEAFDAYMYZGMRA,2015-09-07 11:32:06,2015,9,3381987673671700.000,300037347712784000.000,475,1,\N,\N,COD,9,-6.77004107342789E+018,7.74522032752958E+018,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1
1620813,AUDEAFDAYMYZGMRA,2015-09-08 12:25:29,2015,9,3381987674140920.000,300037347713305984.000,475,1,\N,\N,COD,5,-6.72024669518367E+018,-6.57163828779004E+018,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1
1620814,AUDEAFDAYMYZGMRA,2015-09-13 22:01:31,2015,9,4390169097911100.000,4390169097911100.000,475,1,\N,\N,COD,4,-3.26840210829371E+018,-1.38432989327817E+017,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1
1620815,AUDEAFDAYMYZGMRA,2015-09-23 12:21:40,2015,9,3398458458897500.000,3398458458897500.000,299,1,\N,\N,COD,4,2.55451033844161E+018,7.07637655501624E+018,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1
1620816,AUDEAFDAYMYZGMRA,2015-09-24 20:31:45,2015,9,1399615116304100.000,1399615116304100.000,299,1,\N,\N,COD,7,4.96206184404783E+018,-5.06848715171091E+018,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1
1620817,AUDEAFDAYMYZGMRA,2015-09-29 21:06:45,2015,9,1403960958150400.000,1403960958150400.000,299,1,\N,\N,COD,4,4.79237893110128E+018,-1.53850352160959E+017,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1
1620818,AUDEAFDAYMYZGMRA,2015-09-01 13:08:30,2015,9,2378842904461400.000,2378842904487790.000,375,1,\N,\N,COD,4,-8.93259380001143E+018,2.3813835946272E+018,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1
1620819,AUDEAFDAYMYZGMRA,2015-09-02 00:09:17,2015,9,2378842904749730.000,2378842904805980.000,375,1,\N,\N,COD,8,-8.07824951958076E+018,4.70560705115469E+018,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1
1620820,AUDEAFDAYMYZGMRA,2015-09-07 19:34:22,2015,9,3381987673880510.000,300037347713019008.000,475,1,\N,\N,COD,6,5.08087512967747E+018,9.22624785122212E+017,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1
1620821,AUDEAFDAYMYZGMRA,2015-09-09 20:59:52,2015,9,3381987674792200.000,300037347714043008.000,475,1,\N,\N,COD,7,-2.34474484794199E+018,6.22443567472558E+018,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1
1620822,AUDEAFDAYMYZGMRA,2015-09-30 18:07:16,2015,9,3404713727391200.000,3404713727391200.000,299,1,\N,\N,COD,7,5.31775743890546E+018,-5.06848715171091E+018,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1
1620823,AUDEAFDAYMYZGMRA,2015-09-07 22:09:12,2015,9,3381987673955650.000,300037347713102016.000,475,1,\N,\N,Prepaid,7,6.21527447174992E+018,-5.79215227581186E+018,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1
1620824,AUDEAFDAYMYZGMRA,2015-09-11 19:05:31,2015,9,4388291535995100.000,300037347714878976.000,475,1,\N,\N,COD,8,7.61887633734974E+017,-1.06475227788338E+018,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1
1620825,AUDEAFDAYMYZGMRA,2015-09-27 13:35:08,2015,9,2401963082525400.000,2401963082525400.000,299,1,\N,\N,COD,7,-3.95887871790261E+018,5.04217260097204E+017,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1
1620826,AUDEAFDAYMYZGMRA,2015-09-24 07:33:14,2015,9,4399151309158600.000,4399151309158600.000,299,1,\N,\N,COD,8,-7.97987495114584E+018,-5.40386798235408E+018,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1
1620827,AUDEAFDAYMYZGMRA,2015-09-12 13:20:07,2015,9,1388958658498600.000,1388958658498600.000,475,1,\N,\N,COD,6,1.95311218147926E+018,5.48564361595901E+018,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1
1620828,AUDEAFDAYMYZGMRA,2015-09-12 13:32:11,2015,9,2389001428490000.000,2389001428490000.000,475,1,\N,\N,Prepaid,7,8.96920551157186E+018,6.67972481121237E+018,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1
1620829,AUDEAFDAYMYZGMRA,2015-09-12 20:55:39,2015,9,4389266721187800.000,4389266721187800.000,475,1,\N,\N,COD,6,5.18909397025515E+018,3.04959179072539E+018,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1
1620830,AUDEAFDAYMYZGMRA,2015-09-16 23:16:31,2015,9,3392808569031700.000,3392808569031700.000,475,1,\N,\N,COD,7,-7.71749861066399E+018,-3.84447815061346E+018,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1
1620831,AUDEAFDAYMYZGMRA,2015-09-01 22:16:47,2015,9,2378842904703050.000,2378842904755410.000,375,1,\N,\N,Prepaid,12,9.6860714236334E+017,-5.59395622831527E+018,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1
1620832,AUDEAFDAYMYZGMRA,2015-09-05 16:29:36,2015,9,3381987672965270.000,300037347712001024.000,475,1,\N,\N,COD,7,-4.1974531013372E+018,8.42423099967641E+018,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1
1620833,AUDEAFDAYMYZGMRA,2015-09-21 16:36:37,2015,9,3396882964258500.000,3396882964258500.000,950,2,\N,\N,COD,6,2.87302033612449E+018,8.42423099967641E+018,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1
1620834,AUDEAFDAYMYZGMRA,2015-09-24 16:48:24,2015,9,3399484548080100.000,3399484548080100.000,299,1,\N,\N,COD,4,5.40532608845266E+018,-9.779010321304E+017,CE,EntertainmentSmall,AudioMP3Player,AudioMP3Player,999,1

In [53]:
consumer_dataset[consumer_dataset.duplicated(subset = ['order_id','order_date'])]

,fsn_id,order_date,Year,Month,order_id,order_item_id,gmv,units,deliverybdays,deliverycdays,s1_fact.order_payment_type,sla,cust_id,pincode,product_analytic_super_category,product_analytic_category,product_analytic_sub_category,product_analytic_vertical,product_mrp,product_procurement_sla
1339,ACCCYH98AZH5WHDF,2015-10-25 11:43:39,2015,10,4426086219056200.000,4426086219056200.000,8790,1,\N,\N,Prepaid,6,5.21383663713783E+018,-1.52629105776117E+018,CE,CameraAccessory,CameraAccessory,Lens,15200,6
3076,ACCD2H57TFFW7P2V,2015-10-21 23:29:51,2015,10,4423054512361700.000,4423054512361700.000,399,1,\N,\N,Prepaid,7,2.29878712053537E+018,-4.96067547601542E+018,CE,CameraAccessory,CameraAccessory,CameraRemoteControl,850,2
3166,ACCD2H57TFFW7P2V,2015-10-07 13:31:33,2015,10,1410601049371400.000,1410601049371400.000,425,1,\N,\N,COD,7,-8.61646097371791E+018,1.94827609346193E+018,CE,CameraAccessory,CameraAccessory,CameraRemoteControl,850,2
3514,ACCD2H9UZCDVTSJY,2015-10-17 11:00:27,2015,10,3419149786021600.000,3419149786021600.000,1201,2,\N,\N,Prepaid,3,1.85315065883916E+018,8.58373937263875E+017,CE,CameraAccessory,CameraAccessory,Filter,1350,3
3564,ACCD2H9UZCDVTSJY,2015-10-17 20:53:05,2015,10,4419505617990500.000,4419505617990500.000,600,1,\N,\N,Prepaid,2,-8.56704987608089E+018,-4.77932755954421E+018,CE,CameraAccessory,CameraAccessory,Filter,1350,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1648819,VPLEYAP3ZYYUVESU,2015-09-27 19:20:31,2015,9,4402170060025800.000,4402170060025800.000,2200,1,\N,\N,COD,7,-9.90634340213633E+017,7.89475898877674E+018,CE,EntertainmentSmall,TVVideoSmall,VideoPlayer,2499,2
1648820,VPLEYAP3ZYYUVESU,2015-09-28 01:32:58,2015,9,1402393217090200.000,1402393217090200.000,2098,1,\N,\N,COD,10,3.04892345453077E+018,-1.45758574108572E+018,CE,EntertainmentSmall,TVVideoSmall,VideoPlayer,2499,2
1648821,VPLEYAP3ZYYUVESU,2015-09-29 07:07:57,2015,9,4403459511294400.000,4403459511294400.000,2098,1,\N,\N,COD,5,-4.53140379455183E+018,5.74649014721365E+018,CE,EntertainmentSmall,TVVideoSmall,VideoPlayer,2499,2
1648822,VPLEYAP3ZYYUVESU,2015-09-29 18:15:45,2015,9,4403860318235600.000,4403860318235600.000,2200,1,\N,\N,COD,3,-8.94046418180233E+018,2.57294814079718E+018,CE,EntertainmentSmall,TVVideoSmall,VideoPlayer,2499,2
1648823,VPLEYAP3ZYYUVESU,2015-09-29 21:31:37,2015,9,4403971467524500.000,4403971467524500.000,2295,1,\N,\N,COD,5,6.0094454082098E+018,4.38373500390134E+017,CE,EntertainmentSmall,TVVideoSmall,VideoPlayer,2499,2

In [ ]:
co

##### Correcting Datatypes

In [114]:
# converting order_date from string to datetime datatype

consumer_dataset['order_date'] = pd.to_datetime(consumer_dataset['order_date']).dt.normalize()

'''
after checking in the code trial I can conclude that their is no mismatch between
order_date's year and month to the individual Year and Month columns

remove this after some time
'''

In [115]:
consumer_dataset.sample(10)

,fsn_id,order_date,Year,Month,order_id,order_item_id,gmv,units,deliverybdays,deliverycdays,s1_fact.order_payment_type,sla,cust_id,pincode,product_analytic_super_category,product_analytic_category,product_analytic_sub_category,product_analytic_vertical,product_mrp,product_procurement_sla
1421154,CAMDGPNMWFHRQFXN,2015-07-07,2015,7,167549114.000,212475284.000,,1,\N,\N,Prepaid,2,,,CE,Camera,Camera,Point & Shoot,11999,5
125617,ACCEBEMGQUZYJBKG,2015-10-17,2015,10,2419251064121300.000,2419251064121300.000,1399,1,\N,\N,Prepaid,2,7.57199674274943E+018,7.68693767541594E+018,CE,EntertainmentSmall,Speaker,MobileSpeaker,1999,4
3768,ACCD38YG3UDFDG6D,2015-10-11,2015,10,3413573461353700.000,3413573461353700.000,1440,1,\N,\N,Prepaid,5,6.99333593666514E+018,-9.779010321304E+017,CE,CameraAccessory,CameraAccessory,CameraTripod,2750,-1
720405,ACCEDZVQQPB9KYA9,2016-02-03,2016,2,4513694674887300.000,4513694674887300.000,299.000,1,\N,\N,COD,8,-4743634836005109760.000,3028364541632970240.000,CE,CameraAccessory,CameraAccessory,Flash,899,2
1434395,SELDXMC3JNMTQMGV,2015-07-12,2015,7,170582940.000,216003435.000,2799,1,\N,\N,Prepaid,2,-7.92447647844451E+018,-4.77741288877198E+018,CE,EntertainmentSmall,TVVideoSmall,SelectorBox,4999,3
194136,SELDXMC3JNMTQMGV,2015-10-16,2015,10,2418177650942700.000,2418177650942700.000,1842,1,\N,\N,Prepaid,2,-1.96400536758053E+018,4.70560705115469E+018,CE,EntertainmentSmall,TVVideoSmall,SelectorBox,4999,3
644928,ACCDF2Z7KXGSZEP7,2016-02-25,2016,2,3532629839694200.000,3532629839694200.000,309.000,1,\N,\N,COD,6,-3004957001939120128.000,1136934471039449984.000,CE,GamingHardware,GamingAccessory,GamePad,350,3
233170,ACCDXEGXG8HJUCSK,2015-11-03,2015,11,3434200677102400.000,3434200677102400.000,699,1,\N,\N,COD,9,-3.149627848162E+018,-6.03266161471385E+018,CE,EntertainmentSmall,Speaker,LaptopSpeaker,1000,2
828285,ACCEA9FET8T7AGQG,2016-03-14,2016,3,2548131575294500.000,2548131575294500.000,635.000,1,\N,\N,Prepaid,5,-8830245011193140224.000,-3833415145933270016.000,CE,EntertainmentSmall,Speaker,MobileSpeaker,749,3
1529662,GAME7NCRHAQBCQ32,2015-09-12,2015,9,4389109780497500.000,4389109780497500.000,1499,1,\N,\N,COD,2,-3.97877008842894E+018,-6.08233565509327E+018,CE,GameCDDVD,Game,PhysicalGame,1499,1000

In [130]:
''' following code can be used for extracting more meaningful data from the 
order_date column

df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['dayofweek'] = df['date'].dt.dayofweek  # 0 = Monday, 6 = Sunday
df['weekofyear'] = df['date'].dt.isocalendar().week
df['is_weekend'] = df['dayofweek'].isin([5, 6]).astype(int)

'''

" following code can be used for extracting more meaningful data from the \norder_date column\n\ndf['year'] = df['date'].dt.year\ndf['month'] = df['date'].dt.month\ndf['day'] = df['date'].dt.day\ndf['dayofweek'] = df['date'].dt.dayofweek  # 0 = Monday, 6 = Sunday\ndf['weekofyear'] = df['date'].dt.isocalendar().week\ndf['is_weekend'] = df['dayofweek'].isin([5, 6]).astype(int)\n\n"

In [116]:
## function for calculating no.of unique values and null values

dtype('<M8[ns]')

# Code Trial space

In [6]:
# reading the complete csv and compressing it using gzip format
dataset = pd.read_csv('G:\ML_DL_Projects\Datasets\E-Commerce_Capstone_Dataset\E-Commerce Dataset\ConsumerElectronics.csv')

dataset.to_csv('G:\ML_DL_Projects\Datasets\E-Commerce_Capstone_Dataset\E-Commerce Dataset\ConsumerElectronics.csv.gz', index = False, compression = 'gzip')

In [7]:
dataset.info(memory_usage = 'deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1648824 entries, 0 to 1648823
Data columns (total 20 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   fsn_id                           1648824 non-null  object
 1   order_date                       1648824 non-null  object
 2   Year                             1648824 non-null  int64
 3   Month                            1648824 non-null  int64
 4   order_id                         1648824 non-null  float64
 5   order_item_id                    1648824 non-null  float64
 6   gmv                              1648824 non-null  object
 7   units                            1648824 non-null  int64
 8   deliverybdays                    1648824 non-null  object
 9   deliverycdays                    1648824 non-null  object
 10  s1_fact.order_payment_type       1648824 non-null  object
 11  sla                              1648824 non-null  int64
 12  cust_id                          1648824 non-null  object
 13  pincode                          1648824 non-null  object
 14  product_analytic_super_category  1648824 non-null  object
 15  product_analytic_category        1648824 non-null  object
 16  product_analytic_sub_category    1648824 non-null  object
 17  product_analytic_vertical        1648824 non-null  object
 18  product_mrp                      1648824 non-null  int64
 19  product_procurement_sla          1648824 non-null  int64
dtypes: float64(2), int64(6), object(12)
memory usage: 1.2 GB

In [8]:
dataset_2 = pd.read_csv('G:\ML_DL_Projects\Datasets\E-Commerce_Capstone_Dataset\E-Commerce Dataset\ConsumerElectronics.csv.gz', compression = 'gzip')

In [10]:
dataset_2.shape

(1648824, 20)

In [56]:
consumer_dataset_temp['order_date'] = pd.to_datetime(consumer_dataset_temp['order_date']).dt.date

In [64]:
consumer_dataset_temp.sample(10)

,fsn_id,order_date,Year,Month,order_id,order_item_id,gmv,units,deliverybdays,deliverycdays,s1_fact.order_payment_type,sla,cust_id,pincode,product_analytic_super_category,product_analytic_category,product_analytic_sub_category,product_analytic_vertical,product_mrp,product_procurement_sla
684,ACCCX3SU22JG8NJX,2015-10-21,2015,10,4422936815272600.000,4422936815272600.000,470,1,\N,\N,COD,9,4.70373376132627E+018,6.0416896625336E+018,CE,CameraAccessory,CameraAccessory,CameraBattery,1545,1
179,ACCCX3SGDGPZAQXD,2015-10-27,2015,10,4428060678661500.000,4428060678661500.000,8499,1,\N,\N,COD,8,-4.32408157611276E+015,9.84470503822438E+017,CE,CameraAccessory,CameraAccessory,Lens,17995,5
653,ACCCX3SHSVHHGWB2,2015-10-27,2015,10,2428161597921600.000,2428161597921600.000,1440,1,\N,\N,COD,8,-7.60093866011041E+018,4.78665140499404E+018,CE,CameraAccessory,CameraAccessory,CameraBag,1800,1
815,ACCCX3SU5VYKHSZG,2015-10-12,2015,10,4414924549087800.000,4414924549087800.000,850,1,\N,\N,COD,8,-8.25506809901664E+018,-3.96127324734773E+018,CE,CameraAccessory,CameraAccessory,CameraBattery,3810,13
578,ACCCX3SH73WUYMEF,2015-10-17,2015,10,3419135095214600.000,3419135095214600.000,1425,1,\N,\N,COD,3,-8.59206735427887E+018,1.45214785746179E+018,CE,CameraAccessory,CameraAccessory,CameraBag,1999,3
460,ACCCX3SGEP6YD7SW,2015-10-16,2015,10,4418196683780600.000,4418196683780600.000,6646,1,\N,\N,Prepaid,8,5.41674372109305E+018,4.0957077842997E+018,CE,CameraAccessory,CameraAccessory,Lens,10490,1
708,ACCCX3SU22JG8NJX,2015-10-28,2015,10,2429052207474500.000,2429052207474500.000,940,2,\N,\N,COD,9,8.28622931058438E+018,5.09577191997194E+018,CE,CameraAccessory,CameraAccessory,CameraBattery,1545,1
9,ACCCX3S5JGAJETYR,2015-10-25,2015,10,4426481574167600.000,4426481574167600.000,3695,1,\N,\N,COD,7,-7.80915606896163E+018,-9.779010321304E+017,CE,CameraAccessory,CameraAccessory,CameraTripod,4044,5
598,ACCCX3SHBDQGU54P,2015-10-02,2015,10,3406482590788500.000,3406482590788500.000,4400,1,\N,\N,COD,8,-3.97586343743215E+018,-7.70816034119555E+018,CE,CameraAccessory,CameraAccessory,CameraBag,5999,0
905,ACCCX3SUEACQJ2QG,2015-10-28,2015,10,3429005638048100.000,3429005638048100.000,130,1,\N,\N,COD,10,4.11513247626911E+018,-9.00443638791635E+018,CE,CameraAccessory,CameraAccessory,Lens,399,2

In [73]:
consumer_dataset_temp['order_date'] = pd.to_datetime(consumer_dataset_temp['order_date'])

In [85]:
consumer_dataset_temp['order_date'].dtype

dtype('<M8[ns]')

In [54]:
consumer_dataset_temp = consumer_dataset.copy()

In [106]:
consumer_dataset_temp.shape

(1648824, 20)

In [102]:
consumer_dataset_temp['order_date'] = pd.to_datetime(pd.to_datetime(consumer_dataset_temp['order_date']).dt.date)

In [109]:
# check the sample of the temporary copy of the consumer dataset
consumer_dataset_temp.sample(10)

,fsn_id,order_date,Year,Month,order_id,order_item_id,gmv,units,deliverybdays,deliverycdays,s1_fact.order_payment_type,sla,cust_id,pincode,product_analytic_super_category,product_analytic_category,product_analytic_sub_category,product_analytic_vertical,product_mrp,product_procurement_sla
228188,ACCDVZ83VBHCWFFA,2015-11-09,2015,11,2439246732101100.000,2439246732101100.000,1999,1,\N,\N,COD,3,-7.50548710116533E+018,3.79153171785336E+018,CE,EntertainmentSmall,HomeAudio,HomeAudioSpeaker,6990,4
751936,CAMDF4FHEHKYNSHY,2016-02-12,2016,2,2521510742146100.000,2521510742146100.000,26250.000,1,\N,\N,COD,8,7821798735074440192.000,5740173714531050496.000,CE,Camera,Camera,DSLR,46950,7
309311,CAMDF4FHEHKYNSHY,2015-11-09,2015,11,2439072580871300.000,2439072580871300.000,24990,1,\N,\N,Prepaid,2,-3.81559932357596E+018,-1.65848405959617E+018,CE,Camera,Camera,DSLR,46950,7
1537502,SELDXMC3JNMTQMGV,2015-09-07,2015,9,3381987673790020.000,300037347712916992.000,2599,1,\N,\N,COD,4,1.0173669051298E+018,-3.86094451143131E+017,CE,EntertainmentSmall,TVVideoSmall,SelectorBox,4999,3
941291,ACCD8ZGFTJRXFY5H,2016-04-27,2016,4,2579159175406400.000,300037347717681024.000,16069.000,1,3,3,Prepaid,5,4183294064963210240.000,2662203916715769856.000,CE,CameraAccessory,CameraAccessory,Binoculars,21950,1
1475324,ACCE4D9UJNGQSHQY,2015-09-15,2015,9,1391905843476000.000,1391905843476000.000,4059,1,\N,\N,Prepaid,6,8.25365493656544E+018,-2.57200223149231E+018,CE,GamingHardware,GamingAccessory,GamingMouse,4999,5
53671,ACCE52QHEHCTFHNJ,2015-10-31,2015,10,1430890184632600.000,1430890184632600.000,230,1,\N,\N,COD,7,-1.06920982437748E+018,2.22291239299478E+018,CE,CameraAccessory,CameraAccessory,Lens,490,5
977391,ACCEAPFG4JRKBZEZ,2016-04-27,2016,4,3570557026755200.000,300037347717624000.000,569.000,1,7,8,Prepaid,5,1163966943339909888.000,-370342091330123008.000,CE,EntertainmentSmall,Speaker,MobileSpeaker,5000,2
1283001,ACCEF7FXRDMZF9BZ,2016-06-28,2016,6,3639704621741800.000,3639704621741800.000,209.000,1,\N,\N,COD,5,4300936196476400128.000,8677386134689149952.000,CE,CameraAccessory,CameraAccessory,Lens,441,2
1575352,ACCE29WRH5GGYPF9,2015-09-14,2015,9,1390727840397800.000,1390727840397800.000,2199,1,\N,\N,COD,4,-3.58422105067596E+017,7.79533612356769E+018,CE,EntertainmentSmall,Speaker,MobileSpeaker,2499,-1

In [108]:
consumer_dataset_temp['order_date'].dtype

dtype('<M8[ns]')

In [107]:
consumer_dataset_temp['order_date'] =pd.to_datetime(consumer_dataset_temp['order_date']).dt.normalize()

In [112]:
consumer_dataset_temp['order_date'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1648824 entries, 0 to 1648823
Series name: order_date
Non-Null Count    Dtype
--------------    -----
1648824 non-null  datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 12.6 MB

In [117]:
# checking for issues in year and month column
consumer_dataset_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1648824 entries, 0 to 1648823
Data columns (total 20 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   fsn_id                           1648824 non-null  object
 1   order_date                       1648824 non-null  datetime64[ns]
 2   Year                             1648824 non-null  int64
 3   Month                            1648824 non-null  int64
 4   order_id                         1648824 non-null  float64
 5   order_item_id                    1648824 non-null  float64
 6   gmv                              1648824 non-null  object
 7   units                            1648824 non-null  int64
 8   deliverybdays                    1648824 non-null  object
 9   deliverycdays                    1648824 non-null  object
 10  s1_fact.order_payment_type       1648824 non-null  object
 11  sla                              1648824 non-null  int64
 12  cust_id                          1648824 non-null  object
 13  pincode                          1648824 non-null  object
 14  product_analytic_super_category  1648824 non-null  object
 15  product_analytic_category        1648824 non-null  object
 16  product_analytic_sub_category    1648824 non-null  object
 17  product_analytic_vertical        1648824 non-null  object
 18  product_mrp                      1648824 non-null  int64
 19  product_procurement_sla          1648824 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(6), object(11)
memory usage: 251.6+ MB

In [124]:
consumer_dataset_temp['month_temp'] = consumer_dataset_temp['order_date'].dt.month

In [125]:
consumer_dataset_temp[consumer_dataset_temp['month_temp'] != consumer_dataset_temp['Month']]

Empty DataFrame
Columns: [fsn_id, order_date, Year, Month, order_id, order_item_id, gmv, units, deliverybdays, deliverycdays, s1_fact.order_payment_type, sla, cust_id, pincode, product_analytic_super_category, product_analytic_category, product_analytic_sub_category, product_analytic_vertical, product_mrp, product_procurement_sla, Year_temp, month_temp]
Index: []

[0 rows x 22 columns]

In [126]:
# getting the just date par from the order_date
consumer_dataset_temp['day'] = consumer_dataset_temp['order_date'].dt.day

In [10]:
consumer_dataset_temp['day'].nunique()

NameError: name 'consumer_dataset_temp' is not defined

In [180]:
def unique_value(dataset):
    temp_dataframe = pd.DataFrame(columns =['Name', 'Not_Null Values',
                                            'Null Values','% of Null Values',
                                            'Unique_Valeus','Data Type'])
    l = len(dataset)
    for i in dataset.columns:
                                            
        temp_dataframe.loc[len(temp_dataframe),:] = [i,dataset[i].notnull().sum(),
                                                     dataset[i].isnull().sum(),
                                                     round(dataset[i].isnull().sum()/l,2),
                                                     dataset[i].nunique(),
                                                     dataset[i].dtype
                                                    ]
    print(temp_dataframe)

In [137]:
temp_dataframe = pd.DataFrame(columns = ['Name'])

In [139]:
consumer_dataset_temp['fsn_id'].count()

1648824

In [182]:
unique_value(consumer_dataset_temp)

                               Name Not_Null Values Null Values  \
0                            fsn_id         1648824           0
1                        order_date         1648824           0
2                              Year         1648824           0
3                             Month         1648824           0
4                          order_id         1648824           0
5                     order_item_id         1648824           0
6                               gmv         1648824           0
7                             units         1648824           0
8                     deliverybdays         1648824           0
9                     deliverycdays         1648824           0
10       s1_fact.order_payment_type         1648824           0
11                              sla         1648824           0
12                          cust_id         1648824           0
13                          pincode         1648824           0
14  product_analytic_super_category         1648824           0
15        product_analytic_category         1648824           0
16    product_analytic_sub_category         1648824           0
17        product_analytic_vertical         1648824           0
18                      product_mrp         1648824           0
19          product_procurement_sla         1648824           0
20                        Year_temp         1648824           0
21                       month_temp         1648824           0
22                              day         1648824           0

   % of Null Values Unique_Valeus       Data Type
0             0.000         21219          object
1             0.000           388  datetime64[ns]
2             0.000             2           int64
3             0.000            12           int64
4             0.000       1501177         float64
5             0.000       1480765         float64
6             0.000         18086          object
7             0.000            27           int64
8             0.000           143          object
9             0.000           171          object
10            0.000             2          object
11            0.000            60           int64
12            0.000       1253495          object
13            0.000         12973          object
14            0.000             1          object
15            0.000             5          object
16            0.000            14          object
17            0.000            74          object
18            0.000          1929           int64
19            0.000            17           int64
20            0.000             2           int64
21            0.000            12           int64
22            0.000            31           int64

In [159]:
for i,j in enumerate(consumer_dataset_temp):
    print(i,j)

0 fsn_id
1 order_date
2 Year
3 Month
4 order_id
5 order_item_id
6 gmv
7 units
8 deliverybdays
9 deliverycdays
10 s1_fact.order_payment_type
11 sla
12 cust_id
13 pincode
14 product_analytic_super_category
15 product_analytic_category
16 product_analytic_sub_category
17 product_analytic_vertical
18 product_mrp
19 product_procurement_sla
20 Year_temp
21 month_temp
22 day

In [14]:
62500^1/5

TypeError: unsupported operand type(s) for ^: 'int' and 'float'

In [15]:
consumer_dataset_temp.head()

,fsn_id,order_date,Year,Month,order_id,order_item_id,gmv,units,deliverybdays,deliverycdays,s1_fact.order_payment_type,sla,cust_id,pincode,product_analytic_super_category,product_analytic_category,product_analytic_sub_category,product_analytic_vertical,product_mrp,product_procurement_sla
0,ACCCX3S58G7B5F6P,2015-10-17 15:11:54,2015,10,3419300926147000.000,3419300926147000.000,6400,1,\N,\N,COD,5,-1.01299130778588E+018,-7.79175582905735E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,7190,0
1,ACCCX3S58G7B5F6P,2015-10-19 10:07:22,2015,10,1420830839915200.000,1420830839915200.000,6900,1,\N,\N,COD,7,-8.99032457905512E+018,7.33541149097431E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,7190,0
2,ACCCX3S5AHMF55FV,2015-10-20 15:45:56,2015,10,2421912925714800.000,2421912925714800.000,1990,1,\N,\N,COD,10,-1.0404429420466E+018,-7.47768776228657E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,2099,3
3,ACCCX3S5AHMF55FV,2015-10-14 12:05:15,2015,10,4416592101738400.000,4416592101738400.000,1690,1,\N,\N,Prepaid,4,-7.60496084352714E+018,-5.83593163877661E+018,CE,CameraAccessory,CameraAccessory,CameraTripod,2099,3
4,ACCCX3S5AHMF55FV,2015-10-17 21:25:03,2015,10,4419525153426400.000,4419525153426400.000,1618,1,\N,\N,Prepaid,6,2.8945572083453E+018,5.34735360997242E+017,CE,CameraAccessory,CameraAccessory,CameraTripod,2099,3

In [14]:
import time

In [25]:
starti=

1753871661.576877

In [56]:
consumer_dataset_temp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1648824 entries, 0 to 1648823
Data columns (total 20 columns):
 #   Column                           Non-Null Count    Dtype
---  ------                           --------------    -----
 0   fsn_id                           1648824 non-null  object
 1   order_date                       1648824 non-null  object
 2   Year                             1648824 non-null  int64
 3   Month                            1648824 non-null  int64
 4   order_id                         1648824 non-null  float64
 5   order_item_id                    1648824 non-null  float64
 6   gmv                              1648824 non-null  object
 7   units                            1648824 non-null  int64
 8   deliverybdays                    1648824 non-null  object
 9   deliverycdays                    1648824 non-null  object
 10  s1_fact.order_payment_type       1648824 non-null  object
 11  sla                              1648824 non-null  int64
 12  cust_id                          1648824 non-null  object
 13  pincode                          1648824 non-null  object
 14  product_analytic_super_category  1648824 non-null  object
 15  product_analytic_category        1648824 non-null  object
 16  product_analytic_sub_category    1648824 non-null  object
 17  product_analytic_vertical        1648824 non-null  object
 18  product_mrp                      1648824 non-null  int64
 19  product_procurement_sla          1648824 non-null  int64
dtypes: float64(2), int64(6), object(12)
memory usage: 251.6+ MB

In [57]:
feature_summary(consumer_dataset_temp)

,Name,Values,Null_Values,%_Null_Value,Nunique_Value,Data_Type
0,fsn_id,1648824,0,0.000,21219,object
1,order_date,1648824,0,0.000,1155192,object
2,Year,1648824,0,0.000,2,int64
3,Month,1648824,0,0.000,12,int64
4,order_id,1648824,0,0.000,1501177,float64
5,order_item_id,1648824,0,0.000,1480765,float64
6,gmv,1648824,0,0.000,18086,object
7,units,1648824,0,0.000,27,int64
8,deliverybdays,1648824,0,0.000,143,object
9,deliverycdays,1648824,0,0.000,171,object
10,s1_fact.order_payment_type,1648824,0,0.000,2,object
11,sla,1648824,0,0.000,60,int64
12,cust_id,1648824,0,0.000,1253495,object
13,pincode,1648824,0,0.000,12973,object
14,product_analytic_super_category,1648824,0,0.000,1,object
15,product_analytic_category,1648824,0,0.000,5,object
16,product_analytic_sub_category,1648824,0,0.000,14,object
17,product_analytic_vertical,1648824,0,0.000,74,object
18,product_mrp,1648824,0,0.000,1929,int64
19,product_procurement_sla,1648824,0,0.000,17,int64

In [65]:
temp = consumer_dataset_temp.drop(columns = ['fsn_id','cust_id','pincode'])

In [66]:
temp.duplicated().sum()

105130

In [67]:
consumer_dataset.duplicated().sum()

104843

In [83]:
temp[temp.duplicated()]['order_id'].value_counts()

2378842904975720.000    10
2390642974947200.000     7
3381987674653240.000     7
1397962515738200.000     6
1393698882965500.000     6
                        ..
2378842904694110.000     1
1393299639813000.000     1
3381987672759960.000     1
3387414460738800.000     1
4403971467524500.000     1
Name: order_id, Length: 101203, dtype: int64

In [91]:
temp[temp['order_id']==1393698882965500.000].sort_values(['order_date']).nunique()

order_date                         2
Year                               1
Month                              1
order_id                           1
order_item_id                      2
gmv                                4
units                              1
deliverybdays                      1
deliverycdays                      1
s1_fact.order_payment_type         1
sla                                2
product_analytic_super_category    1
product_analytic_category          2
product_analytic_sub_category      2
product_analytic_vertical          3
product_mrp                        4
product_procurement_sla            2
dtype: int64

In [95]:
temp[(temp['order_id']==1393698882965500.000) & (temp['order_id'].duplicated())].sort_values(['order_item_id','gmv','product_analytic_vertical'])

,order_date,Year,Month,order_id,order_item_id,gmv,units,deliverybdays,deliverycdays,s1_fact.order_payment_type,sla,product_analytic_super_category,product_analytic_category,product_analytic_sub_category,product_analytic_vertical,product_mrp,product_procurement_sla
1502853,2015-09-18 00:04:12,2015,9,1393698882965500.000,1393698882965500.000,199,1,\N,\N,Prepaid,5,CE,GamingHardware,GamingAccessory,GamingAccessoryKit,399,2
1607680,2015-09-18 00:04:12,2015,9,1393698882965500.000,1393698882965500.000,199,1,\N,\N,Prepaid,5,CE,GamingHardware,GamingAccessory,GamingAccessoryKit,399,2
1578558,2015-09-18 00:04:12,2015,9,1393698882965500.000,1393698882965500.000,254,1,\N,\N,Prepaid,5,CE,GamingHardware,GamingAccessory,GamePad,799,2
1519014,2015-09-18 00:04:12,2015,9,1393698882965500.000,1393698882965500.000,2699,1,\N,\N,Prepaid,6,CE,GameCDDVD,Game,PhysicalGame,4299,3
1623841,2015-09-18 00:04:12,2015,9,1393698882965500.000,1393698882965500.000,2699,1,\N,\N,Prepaid,6,CE,GameCDDVD,Game,PhysicalGame,4299,3
1500824,2015-09-18 00:05:06,2015,9,1393698882965500.000,1393698882965500.000,300,1,\N,\N,Prepaid,5,CE,GamingHardware,GamingAccessory,GamingAccessoryKit,799,2
1605651,2015-09-18 00:05:06,2015,9,1393698882965500.000,1393698882965500.000,300,1,\N,\N,Prepaid,5,CE,GamingHardware,GamingAccessory,GamingAccessoryKit,799,2
1493140,2015-09-18 00:04:12,2015,9,1393698882965500.000,1393698882965510.000,199,1,\N,\N,Prepaid,5,CE,GamingHardware,GamingAccessory,GamingAccessoryKit,499,2
1502868,2015-09-18 00:04:12,2015,9,1393698882965500.000,1393698882965510.000,199,1,\N,\N,Prepaid,5,CE,GamingHardware,GamingAccessory,GamingAccessoryKit,399,2
1597967,2015-09-18 00:04:12,2015,9,1393698882965500.000,1393698882965510.000,199,1,\N,\N,Prepaid,5,CE,GamingHardware,GamingAccessory,GamingAccessoryKit,499,2
1607695,2015-09-18 00:04:12,2015,9,1393698882965500.000,1393698882965510.000,199,1,\N,\N,Prepaid,5,CE,GamingHardware,GamingAccessory,GamingAccessoryKit,399,2

In [96]:
consumer_dataset.groupby(['order_id', 'order_item_id']).size().reset_index(name='count').sort_values('count', ascending=False)

                    order_id        order_item_id  count
331914  1560046710174700.000 1560046710174700.000     34
252669  1503230976401400.000 1503230976401400.000     29
1262799 4458435345632500.000 4458435345632500.000     22
441850  2378842904975720.000 2378842905054220.000     20
1215314 4419587494427700.000 4419587494427700.000     20
...                      ...                  ...    ...
537755  2448423904967300.000 2448423904967300.000      1
537754  2448420509307100.000 2448420509307100.000      1
537753  2448419317140700.000 2448419317140700.000      1
537752  2448415826761300.000 2448415826761300.000      1
754355  2609498359031200.000 2609498359031200.000      1

[1508710 rows x 3 columns]